#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.app {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.notes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.note {
  border: 1px solid #8c8787;
  padding: 10px;
  position: relative;
  min-width: 120px;
}

.remove {
  position: absolute;
  top: 2px;
  right: 4px;
  border: none;
  background: none;
  cursor: pointer;
}
